<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/home/about.css" />
    <link rel="stylesheet" href="../static/style/nav.css" />
    <title>Developed By</title>
  </head>
  <body>
    <%- include("partials/nav.ejs",{ type, isLoggedIn }); %>
    <div class="about">
      <div class="main">
        <div class="box">
          <!-- <div>
            <img src="../static/images/about/Govind.jpg" />
          </div>
          <div class="center">
            <div>Mr. Govind Maheshwari</div>
            <div class="description">
               Training & Placement Officer<br />IET-DAVV, INDORE
            </div>
          </div> -->
        </div>
        <div class="box">
          <div>
            <img src="../static/images/about/mentor.jpg" />
          </div>
          <div class="center">
            <div>Mr. Amit Kumar Jha</div>
            <div class="description">
               Supervisor<br />IET-DAVV, INDORE
            </div>
          </div>
        </div>
        <hr>
        <div class="contributors">
          <h1>Team Members</h1>
        </div>
        <div class="box">
          <div>
            <img src="../static/images/about/umesh.jpg" />
          </div>
          <div class="center">
            <div>Umesh Kumar Bhatiya</div>
            <div class="description">
              Bachelor of Engineering <br/>
              Electronics & Telecommunication
              <br />Batch - 2023<br />IET - DAVV, INDORE
            </div>
          </div>
        </div>
        <div class="box">
          <div>
            <img src="../static/images/about/19T7139_PrashantBairagi.jpg" />
          </div>
          <div class="center">
            <div>Prashant Bairagi</div>
            <div class="description">
              Bachelor of Engineering <br/>
              Electronics & Telecommunication
              <br />Batch - 2023<br />IET - DAVV, INDORE
            </div>
          </div>
        </div>
        <div class="box">
          <div>
            <img src="../static/images/about/Akash.jpg" />
          </div>
          <div class="center">
            <div>Akash Singh</div>
            <div class="description">
              Bachelor of Engineering <br/>
              Electronics & Telecommunication
              <br />Batch - 2023<br />IET - DAVV, INDORE
            </div>
          </div>
        </div>
        <div class="box">
          <div>
            <img src="../static/images/about/salona.jpg" />
          </div>
          <div class="center">
            <div>Salona Dubey</div>
            <div class="description">
              Bachelor of Engineering <br/>
              Electronics & Telecommunication
              <br />Batch - 2023<br />IET - DAVV, INDORE
            </div>
          </div>
        </div>
        <div class="box">
          <div>
            <img src="../static/images/about/abhshek.jpg" />
          </div>
          <div class="center">
            <div>Abhishek Thakur</div>
            <div class="description">
              Bachelor of Engineering <br/>
              Electronics & Telecommunication
              <br />Batch - 2023<br />IET - DAVV, INDORE
            </div>
          </div>
        </div>
      </div>
      <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
    </div>
  </body>
</html>
